.category-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.category-link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.category-link a:hover {
  color: #e13d3d;
}

.contact-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.contact-link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.contact-link a:hover {
  color: #e13d3d;
}

.social-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}

.social-section h3 {
  margin-left: 15px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
}

.social-icons-ft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.facebook-button-ft {
  margin: 0 20px;
}

.facebook-button-ft a {
  color: #fff;
  font-size: 25px;
}

.facebook-button-ft a:hover {
  color: #3b5998;
}

.twitter-button-ft {
  margin: 0 20px;
}

.twitter-button-ft a {
  color: #fff;
  font-size: 25px;
}

.twitter-button-ft a:hover {
  color: #00aced;
}

.pinterest-button-ft {
  margin: 0 20px;
}

.pinterest-button-ft a {
  color: #fff;
  font-size: 25px;
}

.pinterest-button-ft a:hover {
  color: #cb2027;
}

.instagram-button-ft {
  margin: 0 20px;
}

.instagram-button-ft a {
  color: #fff;
  font-size: 25px;
}

.instagram-button-ft a:hover {
  color: #bc2a8d;
}

.v-line-ft {
  border-left: 1px solid #fff;
  height: 30px;
}

.v-line-2 {
  border-left: 1px solid #fff;
  height: 120px;
}


/* Small Screens */
@media (min-width: 320px) and (max-width: 480px){
  .v-line-2 {
   display: none;
  }

  .category-link {
    font-size: 12px;
  }

  .contact-link {
    font-size: 12px;
  }

  .social-section {
     margin-top: 25px;
  }
  
  .social-section h3 {
    font-size: 12px;
  }

  .facebook-button-ft a {
    font-size: 17px;
  }

  .twitter-button-ft a {
    font-size: 17px;
  }

  .pinterest-button-ft a {
    font-size: 17px;
  }

  .instagram-button-ft a {
    font-size: 17px;
  }
  
  .v-line-ft {
    height: 21px;
  }


}

/* Medium Screens */
@media (min-width:901px) {
  .container {
    // rules for large screen
  }
}