.naming {
  margin: auto;
  padding-top: 15px;
  font: 83px "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 23px;
  color: black;
  word-break: normal;
}

/* Small Screens */
@media (min-width: 320px) and (max-width: 600px) {
  .naming {
    font: 2.5em "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-top: 35px;
    font-weight: normal;
    word-spacing: 2px;
  }
}

/* Medium Screens */
@media (min-width: 768px) and (max-width: 992px) {
  .naming {
    font: 53px "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-top: 35px;
    font-weight: normal;
    word-spacing: 2px;
  }
}
