@import url(header.css);
@import url(footer.css);
@import url(nav.css);
@import url(post-card.css);
@import url(side-card.css);

* {
  box-sizing: border-box;
}

/* TODO:  Add a gray background color with some padding */
body {
  font-family: Arial;
  background: #fbf8f4;
  color: #666;
  overflow-x: hidden;
}

.container {
  display: grid;
  width: 100%;
  height: fit-content;
  margin: auto;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: auto auto 1fr auto;
  grid-gap: 10px;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main   main   side"
    "footer footer footer";
}

.box {
  border: 1px solid red;
}

/* Header */
.header {
  grid-area: header;
  text-align: center;
  margin: auto;
}

/* Navbar*/

#dws-menu,
label {
  display: none;
}

.menu {
  grid-area: nav;
  margin: 0 0.5px;
  z-index: 100;
}

.leb-menu {
  border-bottom: 1px solid #e13d3d;
 }

/* TODO:  Create two unequal columns that floats next to each other */
/* Left column */
.content {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0;
}

/* Right column */
.side {
  grid-area: side;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100px, auto);
  height: fit-content;
  margin: 0;
}

/* Footer */
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
  padding: 15px;
  margin-top: 55px;
  align-self: end;
}

/* TODO:  Add a card for additional info */
.side-card {
  margin: 24px;
  background-color: #fff;
  height: fit-content;
}

/* TODO:  Add a card for articles */
.post-card {
  margin: 10px 0 35px 5px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* Small Screens */
@media (min-width: 320px) and (max-width: 600px) {
  .container {
    display: grid;
    margin: auto;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 1fr auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "side"
      "footer";
  }

  .header {
    margin: auto;
    text-align: center;
  }

  label {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
  }

  label:hover {
    cursor: pointer;
  }

  #dws-menu:checked ~ .menu {
    margin: 0;
  }

  .menu {
    position: absolute;
    width: 200px;
    margin-left: -200px; 
    transition: all 0.5s;
  }


  .content {
    margin: 0;
  }

  .post-card {
    margin: 0;
    padding: 0 12px 0 15px;
  }

  .side {
    margin: 0 79px;
    grid-gap: 25px;
  }

  .side-card {
    margin: 15px;
  }

  .footer {
    flex-direction: column;
    padding: 25px;
  }
}


/* Medium Screens */
@media (min-width: 768px) and (max-width: 992px)  {
  .container {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 1fr auto;
    grid-gap: 10px;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "side"
      "footer";
  }

  .header {
    /* margin: 0 35px 0 5px;; */
    margin: auto;
    text-align: center;
  }

  label {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
  }

  label:hover {
    cursor: pointer;
  }

  #dws-menu:checked ~ .menu {
    margin: 0;
  }

  .menu {
    position: absolute;
    width: 200px;
    margin-left: -200px; 
    transition: all 0.5s;
  }

  .leb-menu {
    margin: 0 15px 0 5px;
  } 

  .content {
    margin: 0 22px 0 7px;
  }

  .post-card {
    margin: 0 5px;
    padding: 0 12px 0 15px;
  }

  .side {
    margin: 23px 216px 0 216px;
    grid-gap: 25px;

  }

  .side-card {
    margin: 3px;
  }

  .footer {
    width: 100vw;
    position: relative;
  }
}
