@import url(header.css);
@import url(footer.css);
@import url(nav.css);
@import url(post-card.css);
@import url(side-card.css);

* {
  box-sizing: border-box;
}

/* TODO:  Add a gray background color with some padding */
body {
  font-family: Arial;
  background: #fbf8f4;
  color: #666;
  /* overflow-x: hidden; */
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  margin: auto;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: auto auto 1fr auto;
  grid-gap: 10px;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main   main   side"
    "footer footer footer";
    overflow: hidden;
}

.box {
  border: 1px solid red;
}

/* Header */
.header {
  grid-area: header;
  text-align: center;
  margin: auto;
}

/* Navbar*/

#dws-menu,
label {
  display: none;
}

.menu {
  grid-area: nav;
  margin: 0 0.5px;
  z-index: 100;
}

.leb-menu {
  border-bottom: 1px solid #e13d3d;
  display: none;
}


/*Main Content*/

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: fit-content;
  overflow: hidden; 
}


/* TODO:  Add a card for articles */
.post-card {
  margin: 10px 0 35px 5px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

aside {
  grid-area: side;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100px, auto);
  height: fit-content;
  position: relative;
}

/* TODO:  Add a card for additional info */
.side-card {
  margin: 34px;
  background-color: #fff;
  height: fit-content;
}

/* Footer */
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  /* was changed*/
  align-items: center;
  background-color: #333;
  padding: 15px 255px;  /*padding was changed*/
  margin-top: 55px;
  align-self: end; 
}


/* Small Screens */
@media (min-width: 320px) and (max-width: 600px) {
  .container {
    display: grid;
    margin: auto;
    grid-gap: 0;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "side"
      "footer";
  }

  .header {
    margin: 0;
    text-align: center;
    width: 100vw;
    position: relative;
  }

  label {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
  }

  label:hover {
    cursor: pointer;
  }

  #dws-menu:checked ~ .menu {
    margin: 0;
  }

  .menu {
    position: absolute;
    width: 200px;
    margin-left: -200px;
    transition: all 0.5s;
  }

  .leb-menu {
    border-bottom: 1px solid #e13d3d;
    display: block;
    width: 100vw;
    position: relative;
    margin: 0;
  }

  /*Main Content*/

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: fit-content;
}


  .post-card {
    margin: 0;
    padding: 0;
  }

  aside {
    margin: 0 auto;
    width: 78%;
    grid-gap: 10px;
  }
  

  /* TODO:  Add a card for additional info */
  .side-card {
    margin: 0;
    background-color: #fff;
    height: fit-content;
  }

  .footer {
    flex-direction: column;
    width: 100vw;
    position: relative;
    padding: 0;
  }
}

/* Medium Screens */
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto auto;
    grid-gap: 5px;
    height: fit-content;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "side"
      "footer";
  }


  .header {
    margin: auto;
    text-align: center;
  }

  label {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
  }

  label:hover {
    cursor: pointer;
  }

  #dws-menu:checked ~ .menu {
    margin: 0;
  }

  .menu {
    position: absolute;
    width: 200px;
    margin-left: -200px;
    transition: all 0.5s;
  }

  .leb-menu {
    border-bottom: 1px solid #e13d3d;
    display: block;
    width: 100vw;
    position: relative;
    margin: 0;
  }

   
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: fit-content;
}

  .post-card {
    margin: 0;
    padding: 0;
  }

  aside {
    margin: 0 auto;
    width: 45%;
    grid-gap: 10px;
  }
  
  .side-card {
    margin: 0;
    background-color: #fff;
    height: fit-content;
  }

  .footer {
    width: 100vw;
    position: relative;
    padding: 0;
  }
}
