.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    overflow: hidden;
    margin: 15px;
    padding: 0;
  }


  li a {
    display: block;
    color: #666;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 16px;
    text-decoration: none;
  }
  
 
  li a:hover {
    color: #E13D3D;
  }