.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  overflow: hidden;
}

.underline {
  margin: -10px 25px 0 10px;
  border-bottom: 1px solid #e13d3d;
  width: 95%;
}

li a {
  display: block;
  color: #666;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 55px 0 0;
  text-decoration: none;
}

li a:hover {
  color: #e13d3d;
}

/* Small Screens */
@media (min-width: 320px) and (max-width: 600px) {
  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10em;
    background-color: #e13d3d;
    padding: 0 0 15px 15px;
    margin-right: 35px;
  }

  .nav-items a {
    color: #fff;
  }

  .indents {
    padding: 0;
  }

  .underline {
    border-bottom: 0 solid;
  }
}

/* Medium Screens */
@media (min-width: 768px) and (max-width: 992px) {
  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10em;
    background-color: #e13d3d;
    padding: 0 0 15px 15px;
    margin-right: 35px;
  }

  .nav-items a {
    color: #fff;
  }

  .indents {
    padding: 0;
  }

  .underline {
    border-bottom: 0 solid;
  }
}
