.label {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin: 5px;
  letter-spacing: 1px;
}

.label:hover {
  color: #e13d3d;
  cursor: pointer;
}

.post-card h2 {
  font-size: 2.5em;
  font-weight: lighter;
  letter-spacing: 2px;
  margin: 12px 0;
}

.post-heading {
  text-decoration: none;
  color: #666;
}

.post-heading:hover {
  color: #e13d3d;
  cursor: pointer;
}

.post-card h5 {
  margin: 2px 0 5px 0;
  letter-spacing: 1px;
}

.author-name {
  color: #e13d3d;
}

.author-name:hover {
  cursor: pointer;
}



.read-more-button {
  margin-bottom: 0;
}

.read-more-button a {
  text-decoration: none;
  color: #e13d3d;
}

.image-container {
  overflow: hidden;
  position: relative;
  height: 450px;
  width: 100%;
  margin-top: 10px;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  object-fit: cover; 
  position: absolute;
  margin: auto;
}

#big-image {
  overflow: hidden;
  position: relative;
  height: 372px;
  width: 100%;
  margin: 0 auto;
}

#big-image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover; 
  position: absolute;
  margin: 0 auto;
  display: block;
}

.comments-line {
  max-width: 100%;
  width: 640px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e13d3d;
  font-size: 15px;
  padding-bottom: 0;
}

.social-container {
  display: flex;
  flex-direction: row;
}

.date {
  padding-right: 7px;
}

.facebook {
  padding: 0 7px;
}

.facebook a {
  text-decoration: none;
  color: #e13d3d;
}

.facebook:hover {
  cursor: pointer;
}

.tweet {
  padding: 0 7px;
}

.tweet a {
  text-decoration: none;
  color: #e13d3d;
}

.tweet:hover {
  cursor: pointer;
}

.pin {
  color: #e13d3d;
  padding: 0 7px;
}

.pin a {
  text-decoration: none;
  color: #e13d3d;
}

.pin:hover {
  cursor: pointer;
}

.comments-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comments {
  padding-right: 10px;
  letter-spacing: 2px;
}

.comments-number {
  font-size: 20px;
  color: #e13d3d;
}

.load-content-button {
  margin: auto;
}

.load-content-button a {
  border: 1px solid #e13d3d;
  background-color: #fff;
  color: #e13d3d;
  text-align: center;
  font-style: italic;
  padding: 15px 115px;
  margin: auto;
  text-decoration: none;
  display: inline-block; 
}

.load-content-button a:hover {
  color: #fff;
  background-color: #e13d3d;
}

/* Small Screens */
@media (min-width: 320px) and (max-width: 600px) {
  .label {
      font-size: 11px;
      margin: 5px 0;
  }

  .post-card h2 {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.08em;
  }

  .post-card h5 {
    font-size: 13px;
  }

  .image-container {
    margin: 0;
    height: 100%;
    width: 100vw;
  }

  .post-short {
    font-size: 14px;
    padding-right: 2.5em;
  } 

  .read-more-button {
    font-size: 14px;
  }

  .comments-line {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    font-size: 11px;
    margin: 0;
  }


  .social-container {
    flex-wrap: wrap;
    margin: 0;
  }

  .date {
    padding: 0 2px;
  }

  .facebook {
    padding: 0 2px;
  }

  .tweet {
    padding: 0 2px;
  }

  .pin {
    padding: 0 2px;
  }

  .comments-container {
    display: none;
  }


  .load-content-button {
    margin: 10px auto;
  }

  .load-content-button a {
    padding: 10px 75px;
  }
}

/* Medium Screens */
@media (min-width: 768px) and (max-width: 992px) {
  .label {
    font-size: 12px;
    margin: 5px 0;
  }

  .post-card {
    padding: 0 auto;
  }

  .post-card h2 {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 0.08em;
  }

  .post-card h5 {
    font-size: 14px;
  }

  .post-short {
    font-size: 16px;
    padding-right: 20px;
  }

  .image-container {
    overflow: hidden;
    position: relative;
    height: 440px;
    width: 100%;
    margin: 0 auto;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover; 
    position: absolute;
    margin: 0 auto;
    display: block;
  }

  #big-image {
    overflow: hidden;
    position: relative;
    height: 372px;
    width: 100%;
    margin: 0 auto;
  }

  #big-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover; 
    position: absolute;
    margin: 0 auto;
    display: block;
  }
/* 
.image-container {
margin: 0;
height: 100%;
width: 100vw;
} */

  .read-more-button {
    font-size: 14px;
  }

  .comments-line {
    font-size: 14px;
    max-width: 100%;
    width: 100px
    position: relative;
  }

  .date {
    padding-right: 10px;
  }

  .facebook {
    padding: 0 4px;
  }

  .tweet {
    padding: 0 4px;
  }

  .pin {
    padding: 0 4px;
  }

  
  .comments {
    padding-right: 10px;
    letter-spacing: 2px;
  }
  
  .comments-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 18px 0 0;
  }


  .comments-number {
    font-size: 20px;
  }

  .load-content-button {
    margin: 10px auto;
  }

  .load-content-button a {
    padding: 15px 125px;
    margin: auto;
  }
}
