.label {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  margin: 5px;
  letter-spacing: 1px;
}

.label:hover {
  color: #e13d3d;
  cursor: pointer;
}

.post-card h2 {
  font-size: 2em;
  font-weight: lighter;
  letter-spacing: 2px;
  margin: 12px 0;
}

.post-heading {
  text-decoration: none;
  color: #666;
}

.post-heading:hover {
  color: #e13d3d;
  cursor: pointer;
}

.post-card h5 {
  margin: 2px 0 5px 0;
  letter-spacing: 1px;
}

.author-name {
  color: #e13d3d;
}

.author-name:hover {
  cursor: pointer;
}

.read-more-button {
  margin-bottom: 0;
}

.read-more-button a {
  text-decoration: none;
  color: #e13d3d;
}

.image-container {
  overflow: hidden;
  height: 450px;
  width: 100%;
  margin-top: 10px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.comments-line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e13d3d;
  font-size: 15px;
  padding-bottom: 0;
}

.social-container {
  display: flex;
  flex-direction: row;
}

.date {
  padding-right: 7px;
}

.facebook {
  padding: 0 7px;
}

.facebook a {
  text-decoration: none;
  color: #e13d3d;
}
.facebook:hover {
  cursor: pointer;
}

.tweet {
  padding: 0 7px;
}

.tweet a {
  text-decoration: none;
  color: #e13d3d;
}

.tweet:hover {
  cursor: pointer;
}

.pin {
  color: #e13d3d;
  padding: 0 7px;
}

.pin a {
  text-decoration: none;
  color: #e13d3d;
}

.pin:hover {
  cursor: pointer;
}

.comments-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.comments {
  padding-right: 10px;
  letter-spacing: 2px;
}

.comments-number {
  font-size: 20px;
  color: #e13d3d;
}

.load-content-button {
  margin: 0 217px 55px 324px;
  border: 1px solid #e13d3d;
  background-color: #fff;
}

.load-content-button a {
  color: #e13d3d;
  text-align: center;
  font-style: italic;
  background-color: #fff;
  padding: 14px 115px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.load-content-button a:hover {
  color: #fff;
  background-color: #e13d3d;
}
