.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-image-container {
  overflow: hidden;
  height: 255px;
  width: 100%;
  margin-top: 0;
}

.about-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contan;
}

.about-link {
  margin: 25px 0 0 0;
}

.about-link a {
  text-decoration: none;
  color: #666;
}

.about-link a:hover {
  color: #e13d3d;
}

.contact-name {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.popular-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #e13d3d;
}

.popular-post h3 {
  font-weight: normal;
  margin: 30px 0 7px 0;
}

.popular-post h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  margin: 0;
}

.posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px 15px 5px 15px;
}

.numbers {
  margin: 0 20px 25px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers p {
  font-size: 40px;
  color: #d8d8d8;
  margin-bottom: 15px;
}

.named-posts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
}

.named-posts p {
  margin-bottom: 32px;
  line-height: 1.6;
}

.named-posts a {
  text-decoration: none;
  color: #666;
}

.named-posts a:hover {
  color: #e13d3d;
}

.load-more-button {
  margin-top: 0;
}

.load-more-button a {
  text-decoration: none;
  color: #e13d3d;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #e13d3d;
}

.social h3 {
  margin: 30px 0 0 15px;
  font-weight: normal;
  letter-spacing: 2px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.v-line {
  border-left: 1px solid black;
  height: 30px;
}

.facebook-button {
  margin: 30px 20px;
}

.facebook-button a {
  color: #666;
  font-size: 25px;
}

.facebook-button a:hover {
  color: #3b5998;
}

.twitter-button {
  margin: 30px 20px;
}

.twitter-button a {
  color: #666;
  font-size: 25px;
}

.twitter-button a:hover {
  color: #00aced;
}

.pinterest-button {
  margin: 30px 20px;
}

.pinterest-button a {
  color: #666;
  font-size: 25px;
}

.pinterest-button a:hover {
  color: #cb2027;
}

.instagram-button {
  margin: 30px 20px;
}

.instagram-button a {
  color: #666;
  font-size: 25px;
}

.instagram-button a:hover {
  color: #bc2a8d;
}

.contact-me-button {
  margin: 0 0 20px 10px;
}

.contact-me-button a {
  text-decoration: none;
  color: #e13d3d;
}

/* Small Screens */
@media (min-width: 320px) and (max-width: 600px) {

  .about-image-container {
    height: 245px;
  }
  
  .about-image-container img {
    object-fit: fill;
  }


.about-link {
  margin: 15px 0 0 0;
}


  .popular-post{
    margin: 0;
  }

  .popular-post h3 {
    font-size: 16px;
  }

  .popular-post h2 {
    letter-spacing: 1px;
    font-size: 15px;
  }

  .posts {
    margin: 5px 18px 5px 10px;
  }

  .numbers p {
    font-size: 35px;
    margin-bottom: 5px;
  }


  .named-posts p {
    line-height: 1.2;
    font-size: 16px;
  }


  .load-more-button a {
    font-size: 16px;
  }

  .social h3 {
    font-size: 16px;
  }


.social-icons {
  margin-left: 10px;
}

  .v-line {
    height: 21px;
  }

  .facebook-button a {
    font-size: 17px;
  }

  .twitter-button a {
    font-size: 17px;
  }

  .pinterest-button a {
    font-size: 17px;
  }

  .instagram-button a {
    font-size: 17px;
  }

  .contact-me-button {
    font-size: 16px;
  }
}

/* Medium Screens */
@media (min-width: 768px) and (max-width: 992px) {
  .popular-post h3 {
    font-size: 17px;
  }

  .popular-post h2 {
    letter-spacing: 1px;
    font-size: 16px;
  }

  .numbers p {
    font-size: 37px;
    margin-bottom: 5px;
  }

  .named-posts p {
    line-height: 1.2;
    font-size: 15px;
    margin-bottom: 33px;
  }

  .load-more-button a {
    font-size: 16px;
  }

  .social h3 {
    font-size: 16px;
  }

  .v-line {
    height: 21px;
  }

  .facebook-button a {
    font-size: 17px;
  }

  .twitter-button a {
    font-size: 17px;
  }

  .pinterest-button a {
    font-size: 17px;
  }

  .instagram-button a {
    font-size: 17px;
  }

  .contact-me-button {
    font-size: 16px;
  }
}
