.additional-posts h2 {
  margin: 30px 0 25px 10px;
  font-weight: normal;
}

.additional-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 7px;
}

.post-info {
  display: inline-block;
  background-color: #fff;
  margin-right: 19px;
  flex: 1;
}

.add-image-container {
  overflow: hidden;
  height: 180px;
  width: 255px;
  margin-top: 0;
}

.add-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin: 18px 10px 10px 10px;
  letter-spacing: 1px;
}

.add-title {
  font-size: 13px;
  font-weight: normal;
  margin: 0 10px 10px 10px;
  letter-spacing: 1px;
}

.add-date {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0 10px 10px 10px;
}

.date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comment-sign {
  font-size: 13px;
  font-weight: normal;
  color: #e13d3d;
  text-align: right;
  padding-left: 25px;
  margin: 0 0 10px 20px;
}

.comment-sign i {
  font-size: 13px;
  font-weight: normal;
  color: #e13d3d;
}


/* Small Screens */
@media (min-width: 320px) and (max-width: 480px) {
  .additional-posts h2 {
    margin-top: 10px;
  }

  .additional-cards {
    flex-direction: column;
    align-items: center;
    margin: 0 7px 0 55px;
  }

  .post-info {
    display: block;
    margin: 0 0 25px 0;
  }


.add-image-container {
  height: 50px;
  width: 70px;
  margin-top: 0;
}

}

/* Medium Screens */
@media (min-width: 768px) and (max-width: 1024px) {

  .additional-cards {
    margin-right: 10px;
  }

  .post-info {
    margin-right: 10px;
  }

  .add-image-container {
    overflow: hidden;
    height: 180px;
    width: 255px;
    margin-top: 0;
  }

  .add-title {
    margin: 0 5px 10px 10px;
  }

.add-text {
 margin: 0 25px 0 3px;
}
}