.additional-posts h2{
 margin-left: 10px;
 margin-top: 30px;
 font-weight: normal;
}

.additional-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.post-info{
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #fff;
 margin-right: 10px;
 margin-left: 10px;  
}

.add-image-container{
    overflow: hidden;
    height: 180px;
    width: 250px;
    margin-top: 0;
}


.add-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add-label{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    margin-top: 18px;
    letter-spacing: 1px;
}
.add-title{
    font-size: 13px;
    font-weight: normal;
    margin: 10px;
    margin-top: 0;
    letter-spacing: 1px;
}


.add-date{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 10px;
    margin-top: 0;
}

.date-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.comment-sign {
    font-size: 13px;
    font-weight: normal;
    color:  #e13d3d;
    text-align: right;
    padding-left: 25px;
    margin-left: 20px;
    margin-top: 0;
}

.comment-sign i{
    font-size: 13px;
    font-weight: normal;
    color:  #e13d3d;
}