.additional-posts h2 {
  margin: 0 0 27px 5px;
  font-weight: normal;
}

.additional-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.post-info {
  background-color: #fff;
  margin-right: 10px;
  flex: 1;
}

.add-image-container {
  overflow: hidden;
  height: 143px;
  width: 192px;
  margin-top: 0;
}

.add-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-label {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  margin: 18px 10px 10px 10px;
  letter-spacing: 1px;
}

.add-title {
  font-size: 13px;
  font-weight: normal;
  margin: 0 10px 10px 10px;
  letter-spacing: 1px;
}

.date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-date {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0 10px 10px 10px;
}


.comment-sign {
  font-size: 13px;
  font-weight: normal;
  color: #e13d3d;
  text-align: right;
  padding-left: 25px;
  margin: 0 5px 10px 20px;
}

.comment-sign i {
  font-size: 13px;
  font-weight: normal;
  color: #e13d3d;
}

/* Small Screens */
@media (min-width: 320px) and (max-width: 600px) {
  .additional-posts {
    margin: auto;
  }

  .additional-posts h2 {
    font-size: 26px;
    margin-top: 10px;
  }

  .additional-cards {
    display: block;
    margin: 0;
  }

  .post-info {
    margin-bottom: 10px;
  }

  .add-image-container {
    margin: 0;
    width: 100vw;
    position: relative;
  }

  .add-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
  }
}

/* Medium Screens */
@media (min-width: 768px) and (max-width: 800px) {
  .additional-cards {
    margin: 0 0 7px 7px;
  }
}
