.post-personal-comments-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-card-container{
    background-color: #fff;
}

.comment-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.personal-comment-sign{
    margin-left: 0;
    margin-top: 19px;
    letter-spacing: 1px;
}


.personal-comment-number{
    color: #e13d3d;
    font-size: 24px;
    font-weight: bold;
}

.comment-button{
    margin-top: 12px;
    margin-left: 450px;
    margin-right: 15px;
    border: 1px solid #e13d3d;
    background-color: #fff;
   }
   
   
.comment-button a{
       color: #e13d3d;
       text-align: center;
       font-style: italic;
       background-color: #fff;
       padding: 15px 15px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
   }
   
.comment-button a:hover{
       color:#fff;
       background-color: #e13d3d;
   }

.horisontal-line{
    border-bottom: 0.5px solid  #d8d8d8;;
    width: 750px;
    margin-left: 25px;
    margin-right: 25px;
    clear: both;
}

.comment-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 27px;
    padding-left: 10px;
}

.comment-author{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
}

.comment-body{
 margin: 0;
 line-height: 1.5em;
}

.personal-comment-date{
    margin-left: 28px;
    margin-right: 27px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 13px;
}


.reply-sign a{
 color: #e13d3d;
}

.reply-sign a:hover{
    cursor: pointer;
}