.post-personal-comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.personal-comment-sign {
  margin: 35px 0 15px 27px;
  letter-spacing: 1px;
}

.personal-comment-number {
  color: #e13d3d;
  font-size: 24px;
  font-weight: bold;
}

.comment-button {
  margin: 25px 47px 15px 400px;
  border: 1px solid #e13d3d;
  background-color: #fff;
}

.comment-button a {
  color: #e13d3d;
  text-align: center;
  font-style: italic;
  background-color: #fff;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.comment-button a:hover {
  color: #fff;
  background-color: #e13d3d;
}

.horisontal-line {
  border-bottom: 0.5px solid #d8d8d8;
  width: 755px;
  margin: 0 25px 20px 25px;
  clear: both;
}

.comment-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 30px 0 20px;
  padding-left: 10px;
}

.comment-author {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
}

.comment-body {
  padding-right: 15px;
  line-height: 1.5em;
}

.personal-comment-date {
  margin: 0 27px 0 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 13px;
}

.reply-sign a {
  color: #e13d3d;
}

.reply-sign a:hover {
  cursor: pointer;
}

/*Small screens*/
@media (min-width: 320px) and (max-width: 600px) {
  .comment-button-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    position: relative;
  }

  .personal-comment-sign {
    margin: 0;
    font-size: 14px;
  }

  .comment-button {
    margin: 5px 15px;
  }

  .comment-button a {
    padding: 15px 30px;
    display: block;
    font-size: 13px;
  }

  post-personal-comments-container {
    width: 100vw;
    position: relative;
  }

  .horisontal-line {
    margin: 0;
    width: 100vw;
    position: relative;
  }

  .personal-comment {
    margin: 0;
    width: 100vw;
    position: relative;
  }

  .comment-text {
    margin: 0;
  }

  .comment-author {
    font-size: 13px;
    padding: 0 3px;
  }

  .comment-body {
    padding: 0 3px;
    font-size: 13px;
    margin: 0;
  }

  .personal-comment-date {
    margin: 0 0 0 10px;
    font-size: 12px;
  }
}

/* Medium Screens */
@media (min-width: 768px) and (max-width: 800px) {
  .comment-button-container {
    width: 100vw;
    position: relative;
  }

  .personal-comment-sign {
    margin-left: 10px;
    font-size: 14px;
  }

  .comment-button {
    margin: 5px 25px;
  }

  .comment-button a {
    padding: 15px 30px;
    display: block;
    font-size: 13px;
  }

  post-personal-comments-container {
    width: 100vw;
    position: relative;
  }

  .horisontal-line {
    margin: 0;
    width: 100vw;
    position: relative;
  }

  .personal-comment {
    margin: 0;
    width: 100vw;
    position: relative;
  }

  .comment-text {
    margin: 0;
  }

  .comment-author {
    font-size: 13px;
    padding: 0 3px;
  }

  .comment-body {
    padding: 0 25px 0 5px;
    font-size: 14px;
    margin: 0;
  }

  .personal-comment-date {
    margin: 0 0 0 10px;
    font-size: 12px;
  }
}
