.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 10px 25px;
}

input[type="text"] {
  width: 141%;
  padding: 12px 20px;
  margin: 0;
  box-sizing: border-box;
  background-color: #fbf8f4;
  border: 0 solid;
  resize: vertical;
}


input[type="text"]:focus {
  border: 3px solid #555;
}

textarea {
  width: 141%;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 0 solid;
  background-color: #fbf8f4;
  resize: vertical;
  margin: 0;
}

.form-label {
  margin-top: 18px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 7px;
  width: 15px;
  height: 15px;
}

input[type="submit"] {
  background-color: #fff;
  color: #e13d3d;
  border: 1px solid #e13d3d;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  margin: 15px 0 15px 177px; 
}

input[type="submit"]:hover {
  color: #fff;
  background-color: #e13d3d;
}

/* Small Screens */
@media (min-width: 320px) and (max-width: 600px) {
  .form-container {
    font-size: 12px;
    margin: 0;
    width: 100vw;
    position: relative;
    padding: 0 15px;
  }

  input[type="text"] {
    width: 100%;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    resize: vertical;
  }

  textarea {
    width: 100%;
    margin: 0;
    padding: 0 15px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type="submit"] {
    padding: 16px 32px;
    font-size: 12px;
    margin: 15px 55px 45px 115px;
  }

  .form-label {
    margin-top: 7px;
    padding-left: 0;
    font-size: 13px;
    display: inline-block;
  }
}

/* Medium Screens */
@media (min-width: 768px) and (max-width: 800px) {
  .form-container {
    font-size: 12px;
    margin: 0;
    width: 100vw;
    position: relative;
    padding: 0 15px;
  }

  input[type="text"] {
    width: 98%;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    resize: vertical;
  }

  textarea {
    width: 98%;
    margin: 0;
    padding: 0 15px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type="submit"] {
    padding: 16px 32px;
    font-size: 12px;
    margin: 10px 0 10px 250px;
  }

  .form-label {
    margin-top: 7px;
    padding-left: 0;
    font-size: 13px;
    display: inline-block;
  }
}
