@import url(../../blog-website/css/header.css);
@import url(../../blog-website/css/footer.css);
@import url(../../blog-website/css/nav.css);
@import url(../../blog-website/css/side-card.css);
@import url(post-body.css);
@import url(additional-posts.css);
@import url(comments-card.css);
@import url(form.css);

* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  background: #fbf8f4;
  color: #666;
  overflow-x: hidden;
}

.post-container {
  display: grid;
  width: 100%;
  height: fit-content;
  margin: auto;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: auto auto 4fr auto;
  grid-gap: 10px;
  grid-template-areas:
    "header header header"
    "nav    nav    nav"
    "post   post   side"
    "footer footer footer";
}

.box {
  border: 1px solid red;
}

/* Header */
.header {
  grid-area: header;
  text-align: center;
}

/* Navbar*/
#dws-menu,
label {
  display: none;
}

.menu {
  grid-area: nav;
  margin: 0 85px;
  z-index: 100;
}

.leb-menu {
  border-bottom: 1px solid #e13d3d;
}

.post-content {
  grid-area: post;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "post-body"
    "additional-posts"
    "comments-card";
  margin: 0 35px 0 95px;
  overflow: hidden;
}

.post-body {
  grid-area: post-body;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
}

.additional-posts {
  grid-area: additional-posts;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  margin: 15px 0 65px 0;
}

.comments-card {
  grid-area: comments-card;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  background-color: #fff;
}

.comment-form {
  background-color: #fff;
}

/* Right column */
.side {
  grid-area: side;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100px, auto);
  height: fit-content;
  margin: 0 79px 0 10px;
}

/* Footer */
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
  padding: 15px;
  align-self: end;
}

/* Add a card for additional info */
.side-card {
  margin: 28px;
  background-color: #fff;
  height: fit-content;
}

/* Small Screens */
@media (min-width: 320px) and (max-width: 600px) {
  .post-container {
    margin: auto;
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 1fr auto; 
    grid-template-areas:
      "header"
      "nav"
      "post"
      "side"
      "footer";
      border: 1px solid yellow;
      overflow: hidden;
  }

  .header {
    margin: 0;
    text-align: center;
    width: 100vw;
    position: relative;
  }

  label {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
  }

  label:hover {
    cursor: pointer;
  }
.leb-menu {
  width: 100vw;
    position: relative;
    margin: 0;
}
  #dws-menu:checked ~ .menu {
    margin: 0;
  }

  .menu {
    position: absolute;
    width: 200px; 
    margin-left: -200px; 
    transition: all 0.5s;
  }

  .post-content {
    /* margin: 0 25px 0 0; */
    margin: 0 150px 0 0;
    border: 1px solid green;
    width: 100vw;
    position: relative;
  }

  .post-body {
    /* margin-right: 7em; */
    margin: 0;
    width: 100vw;
    position: relative;
  }

  .additional-posts {
    margin: 0;
    border: 1px solid red;
    width: 100vw;
    position: relative;
  }

  .comments-card {
   margin: 0;
   width: 100vw;
   position: relative;
  }

  .comments-card-container {
    margin: 0;
    border: 1px solid blue;
    width: 100vw;
    position: relative;
  }
  
  .comment-form {
    margin: 0;
    width: 100vw;
    position: relative;
  }

  .side {
    /* margin: 0 115px 0 0 ; */
    grid-gap: 25px;
    width: 100vw;
    position: relative;
  }

  .side-card {
    margin: 15px;
  }

  .footer {
    flex-direction: column;
    /* padding: 25px; */
    width: 100vw;
    position: relative;
  }
}

/* Medium Screens */
@media (min-width: 769px) and (max-width: 800px) {
  .post-container {
    grid-gap: 0;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto auto; 
    grid-template-areas:
      "header"
      "nav"
      "post"
      "side"
      "footer";
  }

  .header {
    margin: auto;
    text-align: center;
  }

  .menu {
    margin: 0;
  }

  .post-content {
    margin: 0 25px 0 0;
  }

  .post-body {
    margin-right: 7em; 
  }

  .additional-posts {
    margin: 0;
  }

  .comments-card {
   margin: 0 15px;
  }

  .comments-card-container {
    margin: 0 10em 0 0;
  }
  
  .comment-form {
    margin: 0 175px 0 0;
  }

  .side {
    margin: 0 199px;
    grid-gap: 25px;
  }

  .side-card {
    margin: 15px;
  }

  .footer {
    padding: 25px;
  }
}
