@import url(../../blog-website/css/header.css);
@import url(../../blog-website/css/footer.css);
@import url(../../blog-website/css/nav.css);
@import url(../../blog-website/css/side-card.css);
@import url(post-body.css);
@import url(additional-posts.css);
@import url(comments-card.css);
@import url(form.css);

* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  background: #fbf8f4;
  color: #666;
  /* overflow-x: hidden; */
  display: block;
}

.post-container {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  /* margin: auto; */
  /* grid-template-columns: repeat(3, 4fr); */
  grid-template-columns: repeat(auto-fit, minmax(730px, 1fr));
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header header header"
    "nav    nav    nav"
    "post   post   side"
    "footer footer footer";
    overflow: hidden;
    max-width: 1080px;
    padding: 0 15px;
    margin: 0 auto;
}

.box {
  border: 1px solid red;
}

/* Header */

.header {
  grid-area: header;
  text-align: center;
  margin: auto;
}


/* Navbar*/

#dws-menu,
label {
  display: none;
}

.menu {
  grid-area: nav;
  margin: 10px 10px;
  z-index: 100;
}


.nav-items {
  margin: 15px 25px;
}


.leb-menu {
  border-bottom: 1px solid #e13d3d;
  display: none;
}


/* Main Content */
main {
  grid-area: post;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  height: fit-content;
  overflow: hidden; 
  max-width: 100%;
width: 650px;
}


/* TODO:  Add a card for posts */
.card-container {
  margin: 10px 0;
  padding: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.additional-posts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  margin: 0;
}

.comments-card {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  background-color: #fff;
  margin: 10px auto;
  padding: 1em 3em 1em 2em;
  width: 100%;
  position: relative;
}


form p {
  width: 100%;
}


/* Right column */
aside {
  grid-area: side;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100px, auto);
  height: fit-content;
  position: relative; 
  max-width: 100%;
  width: 290px;
  margin: 0 0 0 -45px;
}

/* Add a card for additional info */
.side-card {
  max-width: 100%;
  width: 230px;
  margin: 15px auto;
  background-color: #fff;
  height: fit-content;
}

/* Footer */
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  /* was changed*/
  align-items: center;
  background-color: #333;
  padding: 15px 255px;  /*padding was changed*/
  margin-top: 55px;
  align-self: end; 
}


/* Small Screens */
@media (min-width: 320px) and (max-width: 600px) {
  .post-container {
    display: grid;
    grid-template-columns: 1fr; 
    /* grid-template-columns: repeat(auto-fit, minmax(530px, 1fr)); */
    grid-template-rows: auto auto 1fr auto auto;
    height: fit-content;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "side"
      "footer";
      max-width: 600px;
      padding: 0;
      margin: 0;
      overflow: hidden;
  }


  .header {
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    max-width: 100%;
    width: 297px;
  }

  label {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
  }

  label:hover {
    cursor: pointer;
  }

  .leb-menu {
    border-bottom: 1px solid #e13d3d;
    display: block;
    max-width: 100%;
    width: 310px;
    position: relative;
    margin: 0 auto;
    padding: 0;
  }


  #dws-menu:checked ~ .menu {
    margin: 139px auto;
  }

  .menu {
    position: absolute;
    width: 200px;
    height: 150px;
    margin-left: -250px;
    transition: all 0.5s;
  }


  main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 auto;
    height: fit-content;
    max-width: 100%;
    width: 320px;
  }

 
.card-container {
  margin: 0 auto;
  padding: 0 ;
  height: fit-content;
  max-width: 100%;
  width: 320px;
 }
 
 
  .post-content {
    margin: 0 auto;
    padding: 0 auto;
  }

  .post-body {
    margin: 0;
    padding: 0;
  }

  .additional-posts {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 310px;
  }

  .comments-card {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 310px;
  }


  .comments-card-container {
    margin: 0;
  }


form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  max-width: 100%;
  width: 310px;
  background-color: #fff;
  margin: 10px auto;
  padding: 1em 3em 1em 2em;
  position: relative;
}

form p {
  width: 100%;
}

 
aside {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  width: 310px;
}

.side-card {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  height: fit-content;
}

.footer {
  max-width: 100%;
  width: 320px;
  flex-direction: column;
  position: relative;
  padding: 0 20px;
  margin: 15px auto 0 auto;
}
}


/* Medium Screens */
@media (min-width: 768px) and (max-width: 992px) {
  .post-container {
    display: grid;
    grid-gap: 0;
    height: fit-content;
    /* grid-template-columns: 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "header"
      "nav"
      "post"
      "side"
      "footer";
    overflow: hidden;
    box-sizing: border-box;
    max-width: 992px;
    padding: 0 auto;
    margin: 0 auto;
  }

  .header {
    margin: auto;
  }

  label {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
  }

  label:hover {
    cursor: pointer;
  }

  .leb-menu {
    border-bottom: 1px solid #e13d3d;
    display: block;
    max-width: 100%;
    width: 670px;
    position: relative;
    margin: 0 auto;
  }


  #dws-menu:checked ~ .menu {
    margin: 95px auto;
  }

  .menu {
    position: absolute;
    width: 300px;
    margin-left: -300px;
    transition: all 0.5s;
  }


 main {
  grid-area: post;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: fit-content;
  overflow: hidden; 
}

 
.card-container {
    margin: 0 auto;
    padding: 0 auto;
    width: 680px;
    height: fit-content;
 }
 
  .post-content {
    margin: 0 auto;
    padding: 0 auto;
  }

  .post-body {
    margin: 0 auto;
    padding: 0 auto;
  }

  .additional-posts {
    margin: 0 auto;
    padding: 0 auto;
  }

  .comments-card {
    margin: 0 auto;
    padding: 0 auto;
  }


  .comments-card-container {
    margin: 0 auto;
  }


form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  width: 100%;
  background-color: #fff;
  margin: 10px auto;
  padding: 1em 3em 1em 2em;
  position: relative;
}

form p {
  width: 100%;
}

 
aside {
  margin:  0 auto;
  max-width: 80%;
  width: 350px;
}

.side-card {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  height: fit-content;
}

.footer {
  width: 100vw;
  position: relative;
  padding: 0;
}
}
