.category {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin: 5px;
  letter-spacing: 1px;
}

.category:hover {
  color: #e13d3d;
  cursor: pointer;
}

.card-container h2 {
  font-size: 3em;
  font-weight: lighter;
  letter-spacing: 2px;
  margin: 12px 0;
}

.card-container h2:hover {
  color: #e13d3d;
  cursor: pointer;
}

.card-container h5 {
  font-size: 1em;
  margin: 2px 0 5px 0;
  letter-spacing: 1px;
}


.post-image-container {
  position: relative;
  overflow: hidden;
  height: 450px;
  width: 100%;
  margin-top: 10px;
}

.post-image-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  object-fit: cover; 
  position: absolute;
  margin: auto;
}

#big-image {
  overflow: hidden;
  position: relative;
  height: 372px;
  width: 100%;
  margin: 0 auto;
}

#big-image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover; 
  position: absolute;
  margin: 0 auto;
  display: block;
}

.post-text {
  font-size: 1.2em;
}  

.post-comments-line {
  /* grid-area: post-comments-line; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e13d3d;
  border-top: 1px solid #e13d3d;
  margin: 0 5px 0 3px;
}

.post-social-container {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.post-comments-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 35px;
}

.post-comments {
  padding-right: 15px;
  letter-spacing: 2px;
}

.post-comments-number {
  font-size: 20px;
  color: #e13d3d;
}

.post-date {
  padding-right: 15px;
  font-size: 15px;
}

.post-facebook-button {
  padding: 0 9px;
}

.post-facebook-button a {
  text-decoration: none;
  color: #3b5998;
  font-size: 18px;
}

.post-facebook a:hover {
  cursor: pointer;
}

.post-twitter-button {
  padding: 0 9px;
}

.post-twitter-button a {
  text-decoration: none;
  color: #00aced;
  font-size: 18px;
}

.post-twitter-button a:hover {
  cursor: pointer;
}

.post-pinterest-button {
  padding: 0 9px;
}

.post-pinterest-button a {
  text-decoration: none;
  color: #cb2027;
  font-size: 18px;
}

.post-pinterest-button a:hover {
  cursor: pointer;
}

.post-author-name {
  color: #e13d3d;
}

.post-author-name:hover {
  cursor: pointer;
}

/* Small Screens */
@media (min-width: 320px) and (max-width: 600px) {
  .category {
    font-size: 11px;
    padding: 0;
  }

  .post-text-container {
    line-height: 1em;
    margin: 0 auto;
    padding: 0;
  }

  .card-container h2 {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: normal;
    margin: 12px 0;
  }

  .post-text-container h5 {
    font-size: 12px;
    padding-left: 5px;
  }

  .post-text {
    font-size: 1em;
    max-width: 100%;
    width: 310px;
    position: relative;
    padding: 0 15px 0 0;
  }

  #big-image {
    overflow: hidden;
    position: relative;
    height: 172px;
    width: 100%;
    margin: 0 auto;
  }
  
  #big-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    object-fit: cover; 
    position: absolute;
    margin: 0;
    display: block;
  }


  .post-comments-line {
    flex-wrap: wrap;
    margin: 0;
    max-width: 100%;
    width: 310px;
  }

  .post-date {
    font-size: 12px;
  }

  .post-social-container {
    font-size: 11px;
  }

  .post-facebook-button a {
    font-size: 14px;
  }

  .post-pinterest-button a {
    font-size: 14px;
  }

  .post-twitter-button a {
    font-size: 14px;
  }

  .post-comments-container {
    display: none;
  }
  /* .post-comments-container {
    margin: 0;
    padding-right: 15px;
    padding-left: 10px;
  }

  .post-comments {
    padding-right: 10px;
    font-size: 12px;
    letter-spacing: 1px;
  } */
}

/* Medium Screens */
@media (min-width: 768px) and (max-width: 992px) {
  .category {
    font-size: 13px;
    padding: 0;
  }

  #big-image {
    overflow: hidden;
    position: relative;
    height: 372px;
    width: 100%;
    margin: 0 auto;
  }

  #big-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover; 
    position: absolute;
    margin: 0 auto;
    display: block;
  }

  .post-text-container {
    line-height: 1em;
    margin: 0 auto;
    padding: 0 auto;
  }

  .post-name {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.08em;
    margin: 0;
    padding-left: 5px;
    line-height: normal;
  }

  .post-text-container h5 {
    font-size: 13px;
    padding-left: 5px;
  }

  .post-text {
    font-size: 16px;
    padding: 0 10px 0 2px;
  }

  .post-comments-line {
    margin: 0 auto;
    max-width: 100%;
    width: 650px;
    position: relative;
  }

  .post-date {
    font-size: 14px;
  }

  .post-social-container {
    font-size: 14px;
  }

  .post-facebook-button a {
    font-size: 16px;
  }

  .post-pinterest-button a {
    font-size: 16px;
  }

  .post-twitter-button a {
    font-size: 16px;
  }

  .post-comments-container {
    margin: 0 auto;
    padding: 0 0 0 115px;
    /* padding-left: 95px; */
  }

  .post-comments {
    font-size: 14px;
    letter-spacing: 1px;
  }
}
